<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mall.usermicriservice.dao.IAuthorityDao">
    <resultMap id="BaseResultMap" type="com.cloud.mall.usermicriservice.model.Authority">
        <id column="id" jdbcType="BIGINT" property="Id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
        <result column="style" jdbcType="VARCHAR" property="style" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="available" jdbcType="VARCHAR" property="available" />
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,parent_id,sort_num,style,icon,available,app_name
    </sql>
    <insert id="addAuthority" parameterType="com.cloud.mall.usermicriservice.dto.AuthorityReqDTO">
        insert into authority
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">
                name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="sortNum != null">
                sort_num,
            </if>
            <if test="style != null">
                style,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="available != null">
                available,
            </if>
            <if test="appName != null">
                app_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR},
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="sortNum != null">
                #{sortNum,jdbcType=INTEGER},
            </if>
            <if test="style != null">
                #{style,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getAllAuthorities" resultMap="BaseResultMap" parameterType="com.cloud.mall.usermicriservice.dto.AuthorityReqDTO">
        SELECT <include refid="Base_Column_List"/>
        FROM authority
        WHERE 1=1
        <if test="appName != null">
            AND app_name = #{appName,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
